.wrap {
  margin: auto;
  width: 400px;
  padding: 30px 30px 30px 30px;
  border: 15px solid #e0d8e2;
  border-radius: 8px;
}

.title{
  font-family: Helvetica;
  font-size: 35px;
  color: #000;
  margin: 0;
  margin-bottom: 20px;
}
